.ex6_col-2, .ex6_col-3_push-2, .ex6_col-3_push-1_right, .ex6_col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.discussion, code.mixin, code.example, .ex1_col, .ex2_col, .ex3_col, .ex3_col h1, .ex3_nest, .ex4_col_small, .ex4_col_medium, .ex4_col_large, .ex4_col_huge, .ex5_col-1, .ex6_col-2, .ex6_col-3_push-2, .ex6_col-1 {
  float: left; }

.ex6_col-3_push-1_right {
  float: right; }

body {
  margin: 0;
  width: 100%; }

.writeup {
  display: inline-block;
  margin-left: 0;
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  background-color: white; }

.discussion {
  display: block;
  margin-left: 2.94118%;
  margin-right: 2.94118%;
  width: 94.11765%; }

code.mixin {
  display: block;
  margin-left: 2.94118%;
  margin-right: 2.94118%;
  width: 94.11765%; }

code.example {
  display: block;
  margin-left: 2.94118%;
  margin-right: 2.94118%;
  width: 44.11765%;
  margin-bottom: 1em; }

.ex1_row {
  display: inline-block;
  margin-left: 0;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #999999; }

.ex1_col {
  display: block;
  margin-left: 0%;
  margin-right: 0%;
  width: 50%;
  background-color: #f2c0cd; }
  .ex1_col:nth-of-type(2n) {
    background-color: #e4819b; }

.ex2_row {
  display: inline-block;
  margin-left: 0;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #999999; }

.ex2_col {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  width: 23.33333%;
  background-color: #f2c0cd; }
  .ex2_col:nth-of-type(2n) {
    background-color: #e4819b; }

.ex2-1_row {
  display: inline-block;
  margin-left: 0;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #999999; }
  .ex2-1_row h1 {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; }

.ex3_row {
  display: inline-block;
  margin-left: 0;
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #999999; }

.ex3_col {
  display: block;
  margin-left: 2.27273%;
  margin-right: 2.27273%;
  width: 20.45455%;
  background-color: #f2c0cd; }
  .ex3_col:nth-of-type(2n) {
    background-color: #e4819b; }
  .ex3_col h1 {
    display: block;
    margin-left: 2.94118%;
    margin-right: 2.94118%;
    width: 94.11765%;
    background-color: #e4819b; }

.ex3_nest_row {
  display: inline-block;
  margin-left: 0;
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  background-color: #cccccc; }

.ex3_nest {
  display: block;
  margin-left: 2.94118%;
  margin-right: 2.94118%;
  width: 27.45098%;
  background-color: #f2c0cd; }
  .ex3_nest:nth-of-type(2n) {
    background-color: #d22d59; }

.ex4_row {
  display: inline-block;
  margin-left: 0;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #999999; }

.ex4_col_small {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 4.33333%;
  background-color: #f2c0cd; }

.ex4_col_medium {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 12.66667%;
  background-color: #e4819b; }

.ex4_col_large {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 21%;
  background-color: #d22d59; }

.ex4_col_huge {
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 29.33333%;
  background-color: #f2c0cd; }

.ex5_row {
  display: inline-block;
  margin-left: 0;
  width: 91%;
  padding-left: 4.5%;
  padding-right: 4.5%;
  background-color: #999999; }

.ex5_col-6_push-3 {
  display: block;
  margin-left: 25.54945%;
  margin-right: 0.54945%;
  width: 48.9011%;
  background-color: #f2c0cd; }

.ex5_col-1 {
  display: block;
  margin-left: 0.54945%;
  margin-right: 0.54945%;
  width: 7.23443%;
  background-color: #e4819b; }

.ex6_row {
  display: inline-block;
  margin-left: 0;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #999999; }

.ex6_col-2 {
  display: block;
  margin-left: 0.52632%;
  margin-right: 0.52632%;
  width: 15.61404%;
  border: solid 2px #d22d59; }

.ex6_col-3_push-2 {
  display: block;
  margin-left: 17.19298%;
  margin-right: 0.52632%;
  width: 23.94737%;
  background-color: #f2c0cd;
  padding: 10px 10px; }

.ex6_col-3_push-1_right {
  display: block;
  margin-left: 0.52632%;
  margin-right: 8.85965%;
  width: 23.94737%;
  background-color: #e4819b;
  border: solid 5px #d22d59;
  padding: 15px 15px; }

.ex6_col-1 {
  display: block;
  margin-left: 0.52632%;
  margin-right: 0.52632%;
  width: 7.2807%;
  background-color: #d22d59; }
